.dataset-type {
    margin-bottom: 1rem;
}

.dataset-type label {
    font-weight: bold;
    display: flex;
}

.dataset-type input {
    display: inline-block;
    width: 1rem;
}

.dataset-type-description {
    margin-left: 1.5rem;
}